.linux-soft__item {
  margin: 40px 5%; }

.linux-soft__title-block {
  margin: 0 0 70px 0; }

.linux-soft__title {
  text-align: center; }

.linux-soft__logo-block {
  padding: 0 35% 0 35%; }

.linux-soft__logo {
  color: black;
  text-align: center;
  font-style: italic; }

.linux-soft_img {
  text-align: center; }
